
.carrousel-cards img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    padding: 0;
}

/* Personalizar el ícono de las flechas */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%; 
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Que ocupen menos ancho ponele*/
}

.carousel-control-prev {
  left: -0.5rem; /* Empuja la flecha a la izquierda fuera del contenido */
}

.carousel-control-next {
  right: -0.5rem; /* Empuja la flecha a la derecha fuera del contenido */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
  border: 2px solid white;
}

.card:hover{
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.5);
}