

.carousel-item img {
  width: 100%;
  height: 60vh; /* Altura relativa al viewport */
  object-fit: contain;
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 40vh; /* Ajusta para pantallas pequeñas */
  }
}

@media (max-width: 576px) {
  .carousel-item img {
    height: 30vh;
  }
}

#carouselDestacados h2 {
  text-align: left;
  padding-left: 75px;
}

#carouselOfertas h2 {
  text-align: left;
  padding-left: 75px;
  
}

#categoriasCarousel img {
  object-fit: cover;
  margin: auto;
}

.ofertas { 
  background-color: #f1f3f5;
}

h2 {
  color: #212529;
  font-style: italic;
  font-weight: 100;
}

/* Carrousel sin flechas */
.carousel-indicators {
  bottom: -40px; /* los baja */
}

.carousel-indicators [data-bs-target] {
  background-color: #ffffff; 
  border: 1px solid black;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 1;
}

.carousel-indicators .active {
  background-color: #787878; 
}


.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Que ocupen menos ancho ponele*/
}

.carousel-control-prev {
  left: -0.25rem; /* Empuja la flecha a la izquierda fuera del contenido */
}

.carousel-control-next {
  right: -0.25rem; /* Empuja la flecha a la derecha fuera del contenido */
}

.card {
    box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.3);
}

.card:hover{
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}


.categoria-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.categoria-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.categoria-card img {
  object-fit: cover;
  height: 250px; 
}

.categoria-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

@media (min-width: 768px) {
  .col-md-2-4 {
    flex: 0 0 auto;
    width: 20%;
  }
}

.scroll-snap-x {
  scroll-snap-type: x mandatory;
}
.scroll-snap-x > * {
  scroll-snap-align: start;
}

.card-destacados, .card-ofertas {
  width: 240px; 
  flex: 0 0 auto;
  scroll-snap-align: start;
  flex: 0 0 auto;
}


.carousel-slide {
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}

.card-destacados {
  transition: all 0.3s ease-in-out;
}

.card-destacados:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-ofertas {
  transition: all 0.3s ease-in-out;
}

.card-ofertas:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}